.delete-btn{
    background-color: #FF3030;
    font-size: 17px;
    height: 48px;
    width: 232px;
    border-radius: 8px;
    color: aliceblue;
    font-weight: 700;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review-btn{
    background-color: #FF9900;
    font-size: 17px;
    height: 48px;
    width: 232px;
    border-radius: 8px;
    color: aliceblue;
    font-weight: 700;
    margin:0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-btn:hover{
    background-color: rgb(0, 0, 0);
}
.review-btn:hover{
    background-color: rgb(0, 0, 0);
}